= simple_form_for(@produit) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nom
    = f.input :disponibilite
    = f.input :description
    = f.input :image
    = f.input :ean

  .form-actions
    = f.button :submit
