.content-rent
	.content-group
		.row{ :style => "margin-bottom:5%;" }
		.row
			.col-md-1.col-md-4
				= @produit.image
			.col-md-1.col-md-7
				.product-title
					= @produit.nom
				.product-line
				.product-desc
					.product-text
						= @produit.description
				.row{ :style => "margin-top:5%;" }
				.btn-group.cart
					%button.btn.btn-primary.center-block
						-if (current_user)
		          = link_to t('locate'), new_user_produit_location_url(user_id: current_user, produit_id: @produit.id)
		        -else
		          = link_to t('locate'), new_user_session_url
