%p
  %b Nom:
  = @produit.nom
%p
  = image_tag @produit.product_image.url
%p
  %b Disponibilite:
  = @produit.disponibilite
%p
  %b Description:
  = @produit.description
%p
  %b Ean:
  = @produit.ean

-if(@produit.disponibilite)
  = link_to 'Rent this product', produit_rent_path(@produit)
-else
  %p This product isn't available for the moment

%tbody
  - @comments_users.each do |comment|
    %tr

      -# Commentaire
      - @user = User.find(comment.user_id)
      = @user.firstname
      = @user.lastname
      %td= comment.body

      -# Si l'utilisateur connecté est celui qui à écrit le commentaire
      -if(current_user && comment.user_id == current_user.id || current_user && current_user == admin_user)
        %td= link_to 'Edit', edit_produit_comment_path(comment.produit, comment)
        %td= link_to 'Destroy', [comment.produit, comment], method: :delete, :data => { :confirm => 'Are you sure?' }

-# Si l'utilisateur est connecté, on affiche le formulaire
-if(user_signed_in?)
  = render partial: "comments/form"