%p#notice= notice

.container
  .row
    %center
      .h1
        = @produit.nom
  .row
    .col-md-6
      .product_image
        %center
          %img{:src => @produit.product_image.url}
    .col-md-6
      %p
      - if @produit.disponibilite > 0
        .btn.btn-success
          = t('available')
      - else
        .btn.btn-danger
          = t('notavailable')
      %p
        %h3
          = t('description')
      %p
        = @produit.description
      %p
        %b
          = t('ean')
        %br
          = @produit.ean
      %p
        -if (current_user)
          = link_to 'Louer', new_user_produit_location_url(user_id: current_user, produit_id: @produit.id)
        -else
          = link_to 'Louer', new_user_session_url

  .row
    .h1
      Commentaires
    - @comments_users.each do |comment|
      .the_comment
        .col-md-3
          - @user = User.find(comment.user_id)
          = @user.firstname
          = @user.lastname
          %br
          Posté le
          -#= @comments.created_at
          %br
          -# Si l'utilisateur connecté est celui qui à écrit le commentaire
          -if(current_user && comment.user_id == current_user.id || current_user && current_user == admin_user)
            %br
            %td= link_to 'Edit', edit_produit_comment_path(comment.produit, comment), class: " btn btn-warning"
            %td= link_to 'Destroy', [comment.produit, comment], method: :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
        .col-md-9
          %p
            = comment.body
      .clear

-# Si l'utilisateur est connecté, on affiche le formulaire
.new_comment
  -if(user_signed_in?)
    = render partial: "comments/form"
