%p#notice= notice

.container
  .row
    %center
      .h1
        = @produit.nom
  .row
    .col-md-6
      .product_image
        %center
          %img{:src => @produit.product_image.url}
    .col-md-6
      %p
      - if @produit.disponibilite?
        .btn.btn-success
          = t('available')
      - else
        .btn.btn-danger
          = t('notavailable')
      %p
        %h3 
          = t('description')
      %p
        = @produit.description
      %p
        %b 
          = t('ean')
        %br
          = @produit.ean

  .row
    .h1
      Commentaires
    - @comments_users.each do |comment|
      .col-md-2
        .avatar_comment
          - @user = User.find(comment.user_id)
          = @user.firstname
          = @user.lastname
      .col-md-10
        .texte_comment
          %p
            = comment.body

      -# Si l'utilisateur connecté est celui qui à écrit le commentaire
      -if(current_user && comment.user_id == current_user.id || current_user && current_user == admin_user)
        %td= link_to 'Edit', edit_produit_comment_path(comment.produit, comment)
        %td= link_to 'Destroy', [comment.produit, comment], method: :delete, :data => { :confirm => 'Are you sure?' }

-# Si l'utilisateur est connecté, on affiche le formulaire
-if(user_signed_in?)
  = render partial: "comments/form"
