- @produits.each do |produit|
  -# Produit
  .list-group-item
    .col-sm-2.list-text-group
      = produit.nom
    .col-sm-1.list-text-group
      = produit.disponibilite
    .col-sm-3{ :style => "padding-top:3%;" }
      = produit.description
    .col-sm-2
      = image_tag produit.product_image, :class =>'product_img'
    .col-sm-2{ :style => "padding-top:3%;" }
      = link_to 'Show', produit, class:"btn btn-info list-group-a"
    -if(produit.disponibilite > 0)
      .col-sm-2.list-rent
        -if (current_user)
          = link_to 'Louer', new_user_produit_location_url(user_id: current_user, produit_id: produit.id)
        -else
          = link_to 'Louer', new_user_session_url
    -else
      .col-sm-2.list-text-group
        %p Not available
