%tbody
  - @produits.each do |produit|

    -# Produit
    %tr
      %td= produit.nom
      %td= produit.disponibilite
      %td= produit.description
      %td= image_tag produit.product_image
      %td= link_to 'Show', produit
      -if(produit.disponibilite)
        %td= link_to 'Rent', produit_rent_path(produit)
      -else
        %p Not available