%table
  %tbody
    - @produits.each do |produit|

      -# Produit
      %tr
        %td.name
          = produit.nom
        %td= produit.disponibilite
        %td= produit.description
        %td= image_tag produit.product_image
        %td= link_to 'Show', produit
        -if(produit.disponibilite > 0)
          -if (current_user)
            %td= link_to 'Louer', new_user_produit_location_url(user_id: current_user, produit_id: produit.id)
          -else
            %td= link_to 'Louer', new_user_session_url
        -else
          %td
            %p Not available
