%table
  %tbody
    - @produits.each do |produit|

      -# Produit
      %tr
        %td.name
          = produit.nom
        %td= produit.disponibilite
        %td= produit.description
        %td= image_tag produit.product_image
        %td= link_to 'Show', produit
        -if(produit.disponibilite > 0)
          %td= render 'locations/form', produit: produit
        -else
          %td
            %p Not available
