%h1 Listing locations

%table
  %thead
    %tr
      %th Date debut
      %th Date fin
      %th Produit
      %th
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.date_debut
        %td= location.date_fin
        %td= location.produit.nil? ? "Vide" : location.produit.nom
        %td= link_to 'Show', location
        %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
