%header
  .header-content
    .header-content-inner
      Home page

%section.top-list
  .container
    .row
      .col-lg-1
      .col-lg-3.text-center{ :style => "font-weight: 500; font-size: 30px;" }
        =t('ourlibrary')
      .col-lg-7

%section.no-padding
  .container-fluid
    .row
      - @types.each do |type|
        - produits_random_by_type(type.id)
        - if(!@random_ids.empty?)
          -# Nom de la catégorie
          .row{ :style => "width: 90%; margin-left:0px; margin-right:0px;" }
            .col-lg-1
            .col-lg-2.text-center{ :style => "font-weight: 500; font-size: 30px;" }
              = type.name
            .col-lg-8
              .line-no-css{ :style => "height:2px; width:100%; background-color:grey; margin-top:20px;" }

          .row{ :style => "width: 70%; margin: auto;" }
            - @random_ids.each do |product_id|
              -# Produit
              .col-lg-4.col-sm-6.product{ :style => "margin-bottom:2%;" }
                - @product = Produit.find(product_id)
                .row.name
                  = @product.nom
                .row{ :style => "text-align:center;" }
                  = image_tag @product.product_image, :class =>'product_img'
                .row.link-home{ :style => "text-align:center;" }
                  -if (current_user)
                    = link_to 'Louer', new_user_produit_location_url(user_id: current_user, produit_id: @product.id)
                  -else
                    = link_to 'Louer', new_user_session_url
                  = link_to 'Show', @product
