= simple_form_for(@location) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date_debut
    = f.input :date_fin
    = f.association :produit, label_method: :nom

  .form-actions
    = f.button :submit
