= simple_form_for(@location) do |f|
    = f.hidden_field(:date_debut, as: :string, value: Date.today)
    = f.hidden_field(:date_fin, as: :string, value: Date.today + 15 )
    = f.input :produit_id, input_html: { value: produit.id }
    = f.input :user_id , input_html: { value: current_user.id }
    = f.button :submit
