!!!
%html
  %head
    %title RubyMediaLibrary
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand.page-scroll
            = link_to('Accueil', root_path)
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-center
            -if(!user_signed_in?)
              %li
                = link_to('Connexion', new_user_session_url)
              %li
                = link_to('Enregistrement', new_user_registration_url)
            -else
              %li
                -if(current_user)
                  = link_to('Profil', edit_user_registration_url)
              %li
                = link_to('Sign out', destroy_user_session_url, method: :delete)
          %ul.nav.navbar-nav.navbar-center.flagSection
            %li  
              = link_to image_tag("France-icon.png"), params.merge({:locale => :fr})
            %li
              = link_to image_tag("United-Kingdom-icon.png"), params.merge({:locale => :en}) 

    %header
      .header-content
        .header-content-inner
          Home page
    %p.notice= notice
    %p.alert= alert
    = yield
