!!!
%html
  %head
    %title RubyMediaLibrary
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          %ul.nav.navbar-nav.navbar-left
            %li
              = link_to('Accueil', root_path)
            %li
              = link_to('Produits', produits_path)
            %li
              = link_to('Locations', locations_path)
          %ul.nav.navbar-nav.navbar-right
            -if(!user_signed_in?)
              %li
                = link_to('Connexion', new_user_session_url)
              %li
                = link_to('Enregistrement', new_user_registration_url)
            -else
              %li
                -if(current_user)
                  = link_to('Profil', edit_user_registration_url)
              %li
                = link_to('Sign out', destroy_user_session_url, method: :delete)
        -if(current_admin_user)
          .navbar-header
            %ul.nav.navbar-nav.navbar-left
              %li
                = link_to('Accueil', root_path)
    %p.notice= notice
    %p.alert= alert
    = yield
